# physical constraint file

# Clock
set_io CLK_100MHz_in 15

set_io keypad_rows[0] 7 # PIO3_3A
set_io keypad_rows[1] 8 # PIO3_3B
set_io keypad_rows[2] 9 # PIO3_5A
set_io keypad_rows[3] 10 # PIO3_5B
set_io keypad_cols[0] 12 # PIO3_6A
set_io keypad_cols[1] 13 # PIO3_6B
set_io keypad_cols[2] 16 # PIO3_7B
set_io keypad_cols[3] 18 # PIO3_8A
set_io leds[0] 40 # LED1
set_io leds[1] 51 # LED2
set_io leds[2] 1 # PIO3_1A
set_io leds[3] 2 # PIO3_1B
