# physical constraint file

# set_io 15 # SYSCLK
# set_io # 01 +5V
# set_io # 02 GND
# set_io # 03 +3.3V
# set_io # 04 GND
# set_io 1 # 05 PIO3_1A
# set_io # 06 EXTCLK
# set_io 2 # 07 PIO3_1B
# set_io # 08 GND
# set_io 3 # 09 PIO3_2A
# set_io 40 # 10 LED1
# set_io 4 # 11 PIO3_2B
# set_io 51 # 12 LED2
# set_io 7 # 13 PIO3_3A
# set_io 37 # 14 PIO2_9/TxD
# set_io 8 # 15 PIO3_3B
# set_io 36 # 16 PIO2_8/RxD
# set_io 9 # 17 PIO3_5A
# set_io 34 # 18 PIO2_7
# set_io 10 # 19 PIO3_5B
# set_io 33 # 20 PIO2_6
# set_io 12 # 21 PIO3_6A
# set_io 30 # 22 PIO2_5
# set_io 13 # 23 PIO3_6B
# set_io 29 # 24 PIO2_4
# set_io 16 # 25 PIO3_7b
# set_io 28 # 26 PIO2_3
# set_io 18 # 27 PIO3_8A
# set_io 27 # 28 PIO2_2
# set_io 19 # 29 PIO3_8B
# set_io 26 # 30 PIO2_1
# set_io 20 # 31 PIO3_10A
# set_io 25 # 32 PIO3_12B
# set_io 21 # 33 PIO3_10B
# set_io 24 # 34 PIO3_12A





# Clock
set_io CLK_100MHz 15 # SYSCLK

# Keypad Rows (outputs)
set_io keypad_rows[0] 10 # 19 PIO3_5B
set_io keypad_rows[1] 12 # 21 PIO3_6A
set_io keypad_rows[2] 13 # 23 PIO3_6B
set_io keypad_rows[3] 16 # 25 PIO3_7b

# Keypad Columns (inputs)
set_io keypad_cols[0] 18 # 27 PIO3_8A
set_io keypad_cols[1] 19 # 29 PIO3_8B
set_io keypad_cols[2] 20 # 31 PIO3_10A
set_io keypad_cols[3] 21 # 33 PIO3_10B

# LEDs
set_io leds[0] 40 # 10 LED1
set_io leds[1] 25 # 32 PIO3_12B
set_io leds[2] 51 # 12 LED2
set_io leds[3] 24 # 34 PIO3_12A

# UART TX Output
set_io UART_TX 37 # 14 PIO2_9/TxD
