# physical constrain file
# assign io-pins to pin numbering of iCE40-HX1K on olimex board iCE40HX1K-EVB
# compare to the schematic of the board and the datasheet of fpga

set_io CLK_100MHz 15		# SYSCLOCK 100 MHz

set_io BUT[0] 41	# BUT1
set_io BUT[1] 42	# BUT2

set_io LED[0] 40	# LED1
set_io LED[1] 51	# LED2

set_io UART_RX 36	# PIO2_8/RxD connected to pin 3 of UEXT (PGM)
set_io UART_TX 37	# PIO2_9/TxD connected to pin 4 of UEXT (PGM)

set_io SPI_SDO  45	# iCE40-SDO
set_io SPI_SDI	46	# iCE40-SDI
set_io SPI_SCK  48	# iCE40-SCK
set_io SPI_CSX  49	# iCE40-SS_B
