// (START)
function Main.main 0
    // D=0
    push constant 0
    pop temp 0

    // @2050
    // M=1
    push constant 2050
    pop pointer 0
    push constant 1
    pop that 0

    // M=0
    push constant 2050
    pop pointer 0
    push constant 0
    pop that 0

// (RECEIVE)
label RECEIVE
    // @2050
    // D=M
    push constant 2050
    pop pointer 0
    push that 0
    pop temp 0

    // @RECEIVE
    // D;JEQ
    push temp 0
    if-goto RECEIVE

// (STORECACHE)
label STORECACHE
    // @200
    // M=D
    push temp 0
    pop static 0

// (TRANSMIT_BUSY)
label TRANSMIT_BUSY
    // D=0
    push constant 0
    pop temp 0

    // @2051
    // D=M
    push constant 2051
    pop pointer 0
    push that 0
    pop temp 0

    // @TRANSMIT_BUSY
    // D;JNE
    push temp 0
    if-goto TRANSMIT_BUSY

// (LOADCACHE)
label LOADCACHE
    // @200
    // D=M
    push static 0
    pop temp 0

// (TRANSMIT)
label TRANSMIT
    // @2051
    // M=D
    push temp 0
    pop pointer 1
    pop that 0

// (END)
label END
    // @RECEIVE
    // 0;JMP
    goto RECEIVE
