function Sys.fillScreen 3
push constant 42
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 239
call SPI.writeChar 1
pop temp 0
push constant 43
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 63
call SPI.writeChar 1
pop temp 0
push constant 44
call SPI.writeChar 1
pop temp 0
push argument 0
push constant 256
call Math.divide 2
pop local 1
push argument 0
push argument 0
push constant 256
call Math.divide 2
push constant 256
call Math.multiply 2
sub
pop local 2
push constant 0
pop local 0
label do1
push local 0
push constant 320
lt
push constant 240
call Math.multiply 2
not
if-goto wh1
push local 1
call SPI.writeChar 1
pop temp 0
push local 2
call SPI.writeChar 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto do1
label wh1
push constant 0
return
function Sys.wait 1
push constant 0
pop local 0
label do2
push local 0
push argument 0
lt
not
if-goto wh2
push local 0
push constant 1
add
pop local 0
goto do2
label wh2
push constant 0
return
function Sys.init 1
push constant 239
call SPI.writeChar 1
pop temp 0
push constant 3
call SPI.writeChar 1
pop temp 0
push constant 3
call SPI.writeChar 1
pop temp 0
push constant 128
call SPI.writeChar 1
pop temp 0
push constant 2
call SPI.writeChar 1
pop temp 0
push constant 207
call SPI.writeChar 1
pop temp 0
push constant 3
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 193
call SPI.writeChar 1
pop temp 0
push constant 48
call SPI.writeChar 1
pop temp 0
push constant 237
call SPI.writeChar 1
pop temp 0
push constant 4
call SPI.writeChar 1
pop temp 0
push constant 100
call SPI.writeChar 1
pop temp 0
push constant 3
call SPI.writeChar 1
pop temp 0
push constant 18
call SPI.writeChar 1
pop temp 0
push constant 129
call SPI.writeChar 1
pop temp 0
push constant 232
call SPI.writeChar 1
pop temp 0
push constant 3
call SPI.writeChar 1
pop temp 0
push constant 133
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 120
call SPI.writeChar 1
pop temp 0
push constant 203
call SPI.writeChar 1
pop temp 0
push constant 5
call SPI.writeChar 1
pop temp 0
push constant 57
call SPI.writeChar 1
pop temp 0
push constant 44
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 52
call SPI.writeChar 1
pop temp 0
push constant 2
call SPI.writeChar 1
pop temp 0
push constant 247
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 32
call SPI.writeChar 1
pop temp 0
push constant 234
call SPI.writeChar 1
pop temp 0
push constant 2
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 192
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 35
call SPI.writeChar 1
pop temp 0
push constant 193
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 16
call SPI.writeChar 1
pop temp 0
push constant 197
call SPI.writeChar 1
pop temp 0
push constant 2
call SPI.writeChar 1
pop temp 0
push constant 62
call SPI.writeChar 1
pop temp 0
push constant 40
call SPI.writeChar 1
pop temp 0
push constant 199
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 134
call SPI.writeChar 1
pop temp 0
push constant 54
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 72
call SPI.writeChar 1
pop temp 0
push constant 55
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 58
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 85
call SPI.writeChar 1
pop temp 0
push constant 177
call SPI.writeChar 1
pop temp 0
push constant 2
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 24
call SPI.writeChar 1
pop temp 0
push constant 182
call SPI.writeChar 1
pop temp 0
push constant 3
call SPI.writeChar 1
pop temp 0
push constant 8
call SPI.writeChar 1
pop temp 0
push constant 130
call SPI.writeChar 1
pop temp 0
push constant 39
call SPI.writeChar 1
pop temp 0
push constant 242
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 38
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 1
call SPI.writeChar 1
pop temp 0
push constant 224
call SPI.writeChar 1
pop temp 0
push constant 15
call SPI.writeChar 1
pop temp 0
push constant 15
call SPI.writeChar 1
pop temp 0
push constant 49
call SPI.writeChar 1
pop temp 0
push constant 43
call SPI.writeChar 1
pop temp 0
push constant 12
call SPI.writeChar 1
pop temp 0
push constant 14
call SPI.writeChar 1
pop temp 0
push constant 224
call SPI.writeChar 1
pop temp 0
push constant 10
call SPI.writeChar 1
pop temp 0
push constant 8
call SPI.writeChar 1
pop temp 0
push constant 78
call SPI.writeChar 1
pop temp 0
push constant 241
call SPI.writeChar 1
pop temp 0
push constant 55
call SPI.writeChar 1
pop temp 0
push constant 7
call SPI.writeChar 1
pop temp 0
push constant 224
call SPI.writeChar 1
pop temp 0
push constant 5
call SPI.writeChar 1
pop temp 0
push constant 16
call SPI.writeChar 1
pop temp 0
push constant 3
call SPI.writeChar 1
pop temp 0
push constant 14
call SPI.writeChar 1
pop temp 0
push constant 9
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 225
call SPI.writeChar 1
pop temp 0
push constant 15
call SPI.writeChar 1
pop temp 0
push constant 0
call SPI.writeChar 1
pop temp 0
push constant 14
call SPI.writeChar 1
pop temp 0
push constant 20
call SPI.writeChar 1
pop temp 0
push constant 3
call SPI.writeChar 1
pop temp 0
push constant 17
call SPI.writeChar 1
pop temp 0
push constant 225
call SPI.writeChar 1
pop temp 0
push constant 10
call SPI.writeChar 1
pop temp 0
push constant 7
call SPI.writeChar 1
pop temp 0
push constant 49
call SPI.writeChar 1
pop temp 0
push constant 193
call SPI.writeChar 1
pop temp 0
push constant 72
call SPI.writeChar 1
pop temp 0
push constant 8
call SPI.writeChar 1
pop temp 0
push constant 225
call SPI.writeChar 1
pop temp 0
push constant 5
call SPI.writeChar 1
pop temp 0
push constant 15
call SPI.writeChar 1
pop temp 0
push constant 12
call SPI.writeChar 1
pop temp 0
push constant 49
call SPI.writeChar 1
pop temp 0
push constant 54
call SPI.writeChar 1
pop temp 0
push constant 15
call SPI.writeChar 1
pop temp 0
push constant 17
call SPI.writeChar 1
pop temp 0
push constant 128
call SPI.writeChar 1
pop temp 0
push constant 150
call Sys.wait 1
pop temp 0
push constant 41
call SPI.writeChar 1
pop temp 0
push constant 128
call SPI.writeChar 1
pop temp 0
push constant 150
call Sys.wait 1
pop temp 0
label do3
push constant 1
neg
not
if-goto wh3
push constant 0
call Sys.fillScreen 1
pop temp 0
push constant 100000
call Sys.wait 1
pop temp 0
push constant 31
call Sys.fillScreen 1
pop temp 0
push constant 100000
call Sys.wait 1
pop temp 0
goto do3
label wh3
push constant 0
return
